@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#header-nav {
  background-color: yellowgreen;
}
.h1-o {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
}

.beef,
.chx,
.sushi {
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: 700;
  font-size: 22px;
}

.row {
  margin-bottom: 15px;
}

.row > div {
  border: 20px solid white;
  height: 700px;
  background-color: gray;
  position: relative;
}

.row > div ::before {
  content: '';
  background: none;
  border: 5px solid #000;

  display: block;
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  right: 0.5px;
  bottom: 0.5px;
}

.tb {
  padding: 20px;
}
